<div class="col s12">
    <div class="card-panel">
      <div class="card-content">
        <div class="card-title">
          <strong>Destinos escolhidos por <%=@user.name%></strong>
        </div>
      </div>
    </div>
    <% @user.votes.ranking.each do |id, total|%>
        <%=destiny(id, total)%>
            <%end%>
</div>