<div class="row">
  <div class="col s8 offset-s2">
      <div class="card-panel">
        <div class="card-content">
          <div class="card-title">
            Destinos escolhidos por <strong><%=@user.name%></strong>
          </div>
        </div>
      </div>
      <% @user.votes.ranking.each do |id, total|%>
        <%=destiny(id, total)%>
      <%end%>
  </div>
</div>