<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12">      
        <div class="copyright">
          <b>
            <i class="octocat-thumb"><%=image_tag('octocat-thumb.png')%></i>
            <a class="copyright-link" href="https://github.com/marcio-soares/vote-no-destino">vote-no-destino</a>
          </b>
        </div>
      </div>
    </div>
  </div>
</footer>