<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">      
        <div class="copyright">
          <b>
            <a class="copyright-link" href="https://github.com/marcio-soares/vote-no-destino">
              <%=image_tag('github.png', class: 'octocat-thumb')%>vote-no-destino
            </a>
          </b>
        </div>
      </div>
    </div>
  </div>
</footer>