  <nav>
    <div class="nav-wrapper">
      <%=link_to 'Vote no Destino', root_path, class: "brand-logo right"%>
      <a href="javascript:void(0)" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <%=render 'shared/links_menu'%>      
      </ul>
    </div>

      <ul class="side-nav" id="nav-mobile">
        <%=render 'shared/links_menu'%> 
      </ul>     
    <%=render 'shared/preloader'%>
  </nav>